# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for invenio-inspector
# @created 2022-08-17
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/invenio-inspector
# =============================================================================

boltons
plac
sidetrack
